body {
    background-image: linear-gradient(to right, rgba(0.0, 0.0, 0.0, 0.3),rgba(0.0, 0.0, 0.0, 0.3)), url('../assets/images/backgroundCS16.jpg');
    background-size: 100vw;
    background-attachment: fixed;
}
button {
    color: black;
    background-color: #F0F0F0;
    font-size: large;
    width: 100%;
    height: 4em;
    margin-top: 3%;
}
* {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
input {
    color: black;
}
/* FOURTH SCREEN STYLING */
#fourthScreenWeaponContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-between;
 }
#weaponSelectionDiv {
    display: flex;
    flex-direction: row;
    height: 80vh;
}
#categoryDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#weaponTypeDiv {
    display: flex; 
    flex-direction: column; 
    width: 20%; 
    max-height: 70vh; 
    overflow-y: scroll; 
    margin-inline: 1%;
}
/* END OF FOURTH SCREEN STYLING */

/* Hidding the scrollbars in the weapon selection screens */
#skinTypeDiv, #weaponTypeDiv, #categoryDiv, #fourthScreenWeaponContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#skinTypeDiv::-webkit-scrollbar, #weaponTypeDiv::-webkit-scrollbar, #categoryDiv::-webkit-scrollbar, #fourthScreenWeaponContainer::-webkit-scrollbar { 
    display: none; /* Safari, Opera and Chrome */
  }

#fifthScreen > #agentDisplayDiv > #agentDisplayContainer > img {
    width: 50%;
}
#teamDisplay, #enemyTeamDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-inline: 10%;
    background-color: rgba(150, 255, 150, 0.3);
    padding-bottom: 2%;
    border-radius: 20px;
}
#enemyTeamDisplay {
    background-color: rgba(255, 150, 150, 0.3);
}

/* The following CSS code was based on the W3Schools tutorial to create a flip card */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
#sixthScreen {
        background-color: transparent;
        perspective: 1000px;
}
.flip-screen-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front-screen, .back-screen {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}
.front-screen {
background-color: #bbb;
color: black;
}
.back-screen {
background-color: dodgerblue;
color: white;
transform: rotateY(180deg);
}
/* End of the adapted tutorial CSS code */

#toggleTeamDisplayButton, #toggleEnemyTeamDisplayButton, .startBattleBtn {
    width: 30%;
    margin-top: 0%;
    margin-bottom: 2%;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
/* BATTLE SIMULATOR STYLING */
#battleSim {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
#teamsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#teamBattleNames{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 2.5em;
}
.battleTeamContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#battleEnemyTeam {
    justify-content: flex-end;
}
.battleCard {
    width: 35%;
    margin: 2%;
}
th, td {
    color: black;
    text-align: center;
}
table {
    width: 65%;
    margin: 0 auto;
}